*{
    background-color: beige;
    margin: 20px 20px;
    padding: 0;
    
}
h3,h1{ text-align: center;
    

}
h1{
    color: crimson;
    border: 2px solid red;
    
}
a{
    text-decoration: none;
}


